@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap');

:root {
    --primeray-color:rgb(44, 44, 44);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #012E40, #024959, #01545e);
    font-family: 'Instrument Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container {
    max-width: 450px;
    margin: 50px auto;
    background-color: rgb(97, 96, 96);
    padding: 20px;
    border: 50px black;
    border-radius: 50px 50px 30px 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.441);
    text-align: center;
    padding-bottom: 30px;
}

main {
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3em;
    color: rgb(252, 253, 255);
    margin-top: 15px;
    margin-bottom: 30px;
}

.calculadora {
    width: 400px;
}

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
    background-color: rgb(36, 36, 36);
    border: none;
    color: #feffff;
}

.btn {
    width: 100%;
    height: 35px;
    font-size: 1em;
    border: none;
    background-color: rgb(51, 51, 51);
    color: rgb(253, 254, 255);
    cursor: pointer;
}
.btn:hover {
    background:  #012E40;
    color: white;
}

.btn-eq {
    background: rgb(243, 243, 243);
    color: #012E40;
}